# Set up

In [3]:
# MongoDB download and installation
!apt install mongodb >log
!pip install pymongo
!service mongodb start

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.1.0)
 * Starting database mongodb
   ...done.

In [4]:
!wget https://www.w3resource.com/mongodb-exercises/restaurants.zip
!unzip restaurants.zip
!mongoimport --db local --collection data --file restaurants.json

--2022-04-15 09:49:23--  https://www.w3resource.com/mongodb-exercises/restaurants.zip
Resolving www.w3resource.com (www.w3resource.com)... 104.26.14.93, 104.26.15.93, 172.67.69.127, ...
Connecting to www.w3resource.com (www.w3resource.com)|104.26.14.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 262722 (257K) [application/zip]
Saving to: ‘restaurants.zip’

restaurants.zip     100%[===================>] 256.56K  --.-KB/s    in 0.02s

2022-04-15 09:49:23 (11.7 MB/s) - ‘restaurants.zip’ saved [262722/262722]

Archive:  restaurants.zip
  inflating: restaurants.json
2022-04-15T09:49:24.072+0000	connected to: localhost
2022-04-15T09:49:24.298+0000	imported 3772 documents

# Code

Exercise
https://www.w3resource.com/mongodb-exercises/#PracticeOnline

In [5]:
from pymongo import MongoClient
client = MongoClient()
print(f'DB: {client.list_database_names()}')
print('Collections: {}'.format([coll['name'] for coll in [*client['local'].list_collections()]]))
db = client['local']

DB: ['admin', 'local']
Collections: ['startup_log', 'data']

1.Write a MongoDB query to display the fields restaurant_id, name, borough and cuisine for all the documents in the collection restaurant

In [6]:
db['data'].find_one()

{'_id': ObjectId('62593fa480e0284807c22fe0'),
 'address': {'building': '1007',
  'coord': [-73.856077, 40.848447],
  'street': 'Morris Park Ave',
  'zipcode': '10462'},
 'borough': 'Bronx',
 'cuisine': 'Bakery',
 'grades': [{'date': datetime.datetime(2014, 3, 3, 0, 0),
   'grade': 'A',
   'score': 2},
  {'date': datetime.datetime(2013, 9, 11, 0, 0), 'grade': 'A', 'score': 6},
  {'date': datetime.datetime(2013, 1, 24, 0, 0), 'grade': 'A', 'score': 10},
  {'date': datetime.datetime(2011, 11, 23, 0, 0), 'grade': 'A', 'score': 9},
  {'date': datetime.datetime(2011, 3, 10, 0, 0), 'grade': 'B', 'score': 14}],
 'name': 'Morris Park Bake Shop',
 'restaurant_id': '30075445'}

2.Write a MongoDB query to display the fields restaurant_id, name, borough and cuisine for all the documents in the collection restaurant

In [7]:
[*db.data.aggregate([
    {'$project': {'restaurant_id': 1
                  , 'name': 1
                  , 'borough': 1
                  , 'cuisine': 1}}
    , {'$limit': 3}
])]

[{'_id': ObjectId('62593fa480e0284807c22fe0'),
  'borough': 'Bronx',
  'cuisine': 'Bakery',
  'name': 'Morris Park Bake Shop',
  'restaurant_id': '30075445'},
 {'_id': ObjectId('62593fa480e0284807c22fe1'),
  'borough': 'Brooklyn',
  'cuisine': 'Hamburgers',
  'name': "Wendy'S",
  'restaurant_id': '30112340'},
 {'_id': ObjectId('62593fa480e0284807c22fe2'),
  'borough': 'Manhattan',
  'cuisine': 'Irish',
  'name': 'Dj Reynolds Pub And Restaurant',
  'restaurant_id': '30191841'}]

3. Write a MongoDB query to display the fields restaurant_id, name, borough and cuisine, but exclude the field _id for all the documents in the collection restaurant

In [8]:
[*db.data.aggregate([
    {'$project': {'restaurant_id': 1
                  , 'name': 1, 'borough': 1
                  , 'cuisine': 1
                  , '_id': 0}}
    , {'$limit': 3}
])]

[{'borough': 'Bronx',
  'cuisine': 'Bakery',
  'name': 'Morris Park Bake Shop',
  'restaurant_id': '30075445'},
 {'borough': 'Brooklyn',
  'cuisine': 'Hamburgers',
  'name': "Wendy'S",
  'restaurant_id': '30112340'},
 {'borough': 'Manhattan',
  'cuisine': 'Irish',
  'name': 'Dj Reynolds Pub And Restaurant',
  'restaurant_id': '30191841'}]

4. Write a MongoDB query to display the fields restaurant_id, name, borough and zip code, but exclude the field _id for all the documents in the collection restaurant.

In [9]:
[*db.data.aggregate([
  {'$project': {'restaurant_id' : 1
                , 'name': 1
                , 'borough': 1
                , 'address.zipcode': 1
                , '_id': 0}}
  , {'$limit': 3}
])]

[{'address': {'zipcode': '10462'},
  'borough': 'Bronx',
  'name': 'Morris Park Bake Shop',
  'restaurant_id': '30075445'},
 {'address': {'zipcode': '11225'},
  'borough': 'Brooklyn',
  'name': "Wendy'S",
  'restaurant_id': '30112340'},
 {'address': {'zipcode': '10019'},
  'borough': 'Manhattan',
  'name': 'Dj Reynolds Pub And Restaurant',
  'restaurant_id': '30191841'}]

5. Write a MongoDB query to display all the restaurant which is in the borough Bronx.

In [10]:
[*db.data.aggregate([
  {'$match': {'borough': 'Bronx'}}
  , {'$project': {'restaurant_id' : 1
                , 'name': 1
                , 'borough': 1
                , 'address.zipcode': 1
                , '_id': 0}}
  , {'$limit': 3}
])]

[{'address': {'zipcode': '10462'},
  'borough': 'Bronx',
  'name': 'Morris Park Bake Shop',
  'restaurant_id': '30075445'},
 {'address': {'zipcode': '10460'},
  'borough': 'Bronx',
  'name': 'Wild Asia',
  'restaurant_id': '40357217'},
 {'address': {'zipcode': '10466'},
  'borough': 'Bronx',
  'name': 'Carvel Ice Cream',
  'restaurant_id': '40363093'}]

6. Write a MongoDB query to display the first 5 restaurant which is in the borough Bronx

In [11]:
[*db.data.aggregate([
  {'$match': {'borough': 'Bronx'}}
  , {'$project': {'restaurant_id' : 1
                , 'name': 1
                , 'borough': 1
                , 'address.zipcode': 1
                , '_id': 0}}
  , {'$limit': 5}
])]

[{'address': {'zipcode': '10462'},
  'borough': 'Bronx',
  'name': 'Morris Park Bake Shop',
  'restaurant_id': '30075445'},
 {'address': {'zipcode': '10460'},
  'borough': 'Bronx',
  'name': 'Wild Asia',
  'restaurant_id': '40357217'},
 {'address': {'zipcode': '10466'},
  'borough': 'Bronx',
  'name': 'Carvel Ice Cream',
  'restaurant_id': '40363093'},
 {'address': {'zipcode': '10474'},
  'borough': 'Bronx',
  'name': 'Happy Garden',
  'restaurant_id': '40363289'},
 {'address': {'zipcode': '10458'},
  'borough': 'Bronx',
  'name': 'Happy Garden',
  'restaurant_id': '40364296'}]

7. Write a MongoDB query to display the next 5 restaurants after skipping first 5 which are in the borough Bronx.

In [12]:
[*db.data.aggregate([
  {'$match': {'borough': 'Bronx'}}
  , {'$project': {'restaurant_id' : 1
                , 'name': 1
                , 'borough': 1
                , 'address.zipcode': 1
                , '_id': 0}}
  , {'$skip': 5}
  , {'$limit': 5}
])]

[{'address': {'zipcode': '10465'},
  'borough': 'Bronx',
  'name': 'Manhem Club',
  'restaurant_id': '40364363'},
 {'address': {'zipcode': '10462'},
  'borough': 'Bronx',
  'name': 'The New Starling Athletic Club Of The Bronx',
  'restaurant_id': '40364956'},
 {'address': {'zipcode': '10451'},
  'borough': 'Bronx',
  'name': 'Yankee Tavern',
  'restaurant_id': '40365499'},
 {'address': {'zipcode': '10467'},
  'borough': 'Bronx',
  'name': 'Mcdwyers Pub',
  'restaurant_id': '40365893'},
 {'address': {'zipcode': '10463'},
  'borough': 'Bronx',
  'name': 'The Punch Bowl',
  'restaurant_id': '40366497'}]

8. Write a MongoDB query to find the restaurants who achieved a score more than 90.

In [18]:
[*db.data.aggregate([
  {'$match': {'grades.score': {'$gt': 90}}}
  , {'$limit': 2}
])]

[{'_id': ObjectId('62593fa480e0284807c2313e'),
  'address': {'building': '65',
   'coord': [-73.9782725, 40.7624022],
   'street': 'West   54 Street',
   'zipcode': '10019'},
  'borough': 'Manhattan',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 8, 22, 0, 0),
    'grade': 'A',
    'score': 11},
   {'date': datetime.datetime(2014, 3, 28, 0, 0), 'grade': 'C', 'score': 131},
   {'date': datetime.datetime(2013, 9, 25, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2013, 4, 8, 0, 0), 'grade': 'B', 'score': 25},
   {'date': datetime.datetime(2012, 10, 15, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2011, 10, 19, 0, 0), 'grade': 'A', 'score': 13}],
  'name': "Murals On 54/Randolphs'S",
  'restaurant_id': '40372466'},
 {'_id': ObjectId('62593fa480e0284807c231df'),
  'address': {'building': '345',
   'coord': [-73.9864626, 40.7266739],
   'street': 'East 6 Street',
   'zipcode': '10003'},
  'borough': 'Manhattan',
  'cuisine': 'Indian',
  'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0),
    'grade': 'A',
    'score': 5},
   {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8},
   {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2},
   {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92},
   {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}],
  'name': 'Gandhi',
  'restaurant_id': '40381295'}]

9. Write a MongoDB query to find the restaurants that achieved a score, more than 80 but less than 100.

In [25]:
[*db.data.aggregate([
  {'$match': {'grades.score': {'$gt': 80}}}
  , {'$match': {'grades.score': {'$lt': 100}}}
  , {'$limit': 2}
])]

[{'_id': ObjectId('62593fa480e0284807c2313e'),
  'address': {'building': '65',
   'coord': [-73.9782725, 40.7624022],
   'street': 'West   54 Street',
   'zipcode': '10019'},
  'borough': 'Manhattan',
  'cuisine': 'American ',
  'grades': [{'date': datetime.datetime(2014, 8, 22, 0, 0),
    'grade': 'A',
    'score': 11},
   {'date': datetime.datetime(2014, 3, 28, 0, 0), 'grade': 'C', 'score': 131},
   {'date': datetime.datetime(2013, 9, 25, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2013, 4, 8, 0, 0), 'grade': 'B', 'score': 25},
   {'date': datetime.datetime(2012, 10, 15, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2011, 10, 19, 0, 0), 'grade': 'A', 'score': 13}],
  'name': "Murals On 54/Randolphs'S",
  'restaurant_id': '40372466'},
 {'_id': ObjectId('62593fa480e0284807c231df'),
  'address': {'building': '345',
   'coord': [-73.9864626, 40.7266739],
   'street': 'East 6 Street',
   'zipcode': '10003'},
  'borough': 'Manhattan',
  'cuisine': 'Indian',
  'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0),
    'grade': 'A',
    'score': 5},
   {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8},
   {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2},
   {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92},
   {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}],
  'name': 'Gandhi',
  'restaurant_id': '40381295'}]